@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');


.logoHigh {
    width: 18.125rem;
    height: 6.3125rem;
    top: 3.5rem;
    left: 49.25rem;
    position: absolute;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#texto1{
font-family: 'Inter';
    font-size: 3rem;
    left: 40%;
    top: 37%;
    position: absolute;
}

#texto2{
font-family: 'Inter';
    font-size: 2rem;
    left: 38%;
    top: 50%;
    position: absolute;

}
.material-symbols-outlined {
    top: 537px;
    left: 793px;
}

.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.85);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay-content {
    position: relative;
    top: 37%;
    width: 100%;
    text-align: center;
    font-family: 'Inter';
}

.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 40px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 35px;
    font-size: 70px;
}

#menuNav {
    display: flex;
    padding: 3.625rem;
    max-width: 10px;
}