<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Site fã clube high">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
    <meta name="keywords" content="Fã Clube HighComapny">
    <link rel="stylesheet" type="text/css" href="../../../css/contatos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/phosphor-icons"></script>
    <title>HIGH</title>
</head>

<body>
    <!--Fechar Display-->
    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
            × </a>
    
        <div class="overlay-content">
            <a href="../../../index.html">HISTÓRIA</a> <a href="sugestoes.html">SUGESTÕES</a>
            <a href="lookBook.html">LOOKBOOK</a> <a href="contatos.html">CONTATOS</a>
        </div>
        <!--Conteúdo display-->
    </div>
    <!--Fechar Display-->
    
    
    <!--NavBar em javaScript-->
    <span id="menuNav" style="font-size: 73px; cursor: pointer" onclick="openNav()"> ≡ </span>
    
    <script>
        function openNav() {
            document.getElementById("myNav").style.display = "block";
        }

        function closeNav() {
            document.getElementById("myNav").style.display = "none";
        }
    </script>
    <!--NavBar em javaScript-->
    
    
    <!--Logo high-->
    <div>
        <a href="/index.html">
            <img src="/imgs/HIGHLOGO.png" alt="logo da HIGH" class="logoHigh">
        </a>
    </div>
    <!--Logo high-->

    <section class="textos">
        <h1 id="texto1">@highcompany</h1>
        <h2 id="texto2">contact@highcompany.com</h2>
    </section>
    <script type="text/javascript" src="menuDropDown.js"></script>
</body>

</html>